/*
 * Accordionza jQuery Plugin
 * Copyright 2010, Geert De Deckere <geert@idoe.be>
 */



.character-accordion {
  height: 320px;
  width: 50%;
  float: left;
  display: block;
}

#accordion {
  color: white;
  height:100%;
  list-style:none;
  margin:0;
  overflow:scroll;
  padding:0;
/*        text-shadow:0 1px 0 #333;
*/
  background-color: $nearblack;
}

#accordion li {
  height:240px;
  position:relative;
}


#accordion .slide_handle {

  bottom:0;
  cursor:pointer;
  left:0;
  position:absolute;
  top:0;
  width:40px;
  background-color: $nearblack;
  text-transform: uppercase;
  font-family: 'proxima-nova';
  font-weight: 300;

  > div {
          @include rotate(-90deg);
  }

}

#accordion .slide2 .slide_handle { background-position:-40px 0; }
#accordion .slide3 .slide_handle { background-position:-80px 0; }
#accordion .slide4 .slide_handle { background-position:-120px 0; }
#accordion .slide_handle div {
  bottom:16px;
  height:7px;
  left:16px;
  position:absolute;
  width:7px;
}

#accordion .slide_opened .slide_handle { cursor:default; }
#accordion .slide_opened .slide_handle div { background-position:0 -7px; }
#accordion .slide_content {
  background-color: $nearblack;
  bottom:0;
  left:40px; /* Matches the width of .slide_handle */
  position:absolute;
  right:0;
  top:0;
  height: 100%;

  ul {
    width: auto;
      li {
        list-style-type: none;
        display: inline-block;
        height: 320px;
        width: 150px;
        position: relative;
        margin-right: 0px;
        border-image-width: 0;
        padding: 0;
        background-color: darkgray;

        .img-box {
          height: 320px;
          width: 150px;
          overflow: hidden;
          margin: 0px;
          padding: 0px;
          position: relative;
          border-image-width: 0;

          .outfit {
            margin: 0 0 0;
            height: 100%;
          }

          .text {
            text-align: center;
            position: absolute;
            @include absolute-center;
            width: 100px;
            height: 60px;
          }

          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: black;
            opacity: 0.7;
          }
        }
      }
  }
  
  .accordion-bubble {
    display: none;
  }

  }



#accordion .slide_opened .accordion-bubble {
  opacity: 0;
/*  filter: alpha(opacity=0);
  transform: scale(0);
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition-duration: 1.2s;
     -moz-transition-duration: 1.2s;
          transition-duration: 1.2s;*/
  z-index: 1200;
  background-color: #fff;
  font-size: 12px;
  line-height: 12px;
  font-family: 'proxima-nova';
  text-align: center;
  color: $nearblack;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 100%;
}



#accordion .slide_opened .slide_content ul li:hover .accordion-bubble {
  opacity:.8; 
  display: block;
  filter: alpha(opacity=100);
  transform:scale(1);
  margin: auto;
  z-index: 500;
    > div {
      height: 70%;
      margin: 10% 1%;

      a {color: #333333;}
      a:hover {color: $nearblack;}

      .product-name {
        font-weight: 300;
      }

      .product-brand {
        text-transform: uppercase;
        font-weight: 100;
        margin-bottom: 10px;
      }
    }

}




#accordion .slide_content a img { border:0; }
#accordion .slide_caption {
  background: image-url("black-30pct.png"); /* You could use rgba instead, but that means less browser support */
  bottom:-15px;
  left:0;
  padding: 10px 20px 5px;
  position:absolute;
  right:0;
  color: white;
  font-family: 'proxima-nova';
  font-size: 15px;
  font-weight: 500;
  z-index: 1000;
  cursor: pointer;
        /* To change the height of the caption, set the captionHeight option in script.js */
}
#accordion .slide_caption_toggle {
  cursor:pointer;
  height:10px;
  left:0;
  position:absolute;
  right:0;
  top:0;
}
#accordion .slide_caption_toggle div {
  // background:image-url("toggle-caption.png") no-repeat 50% -10px;
  height:100%;
}
#accordion .slide_caption_toggle:hover { background:url("black-30pct.png"); }
#accordion .slide_caption_collapsed .slide_caption_toggle div { background-position:50% 0; }
#accordion a {
  background:none;
  color:#fff;
/*        text-shadow:0 1px 0 #333;
*/}
#accordion a:hover { text-decoration:none; }

