// Place all the styles related to the colors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$white:       #ffffff;
$yellow:      #FFC909;
$gray:        #b0afac;
$nearblack:	  #161512;
$yellowblack: #1d1600;
$facebook:	  #00769A;
