@font-face {

    font-family: 'Lavanderia Delicate';
    src: asset-url('Lavanderia_Delicate.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lavanderia Regular';
    src: asset-url('Lavanderia_Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lavanderia Sturdy';
    src: asset-url('Lavanderia_Sturdy.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Biko Black';
    src: asset-url('Biko_Black.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Biko Bold';
    src: asset-url('Biko_Bold.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Biko Regular';
    src: asset-url('Biko_Regular.otf');
    font-style: normal;
    font-weight: 100;
}