/*img {
  width: 100%;
}
*/.screen-320 body {
  font-size: 21%;
}
.screen-480 body {
  font-size: 27%;
}
.screen-640 body {
  font-size: 37%;

}
.screen-768 body {
  font-size: 55%;

}
.screen-1024 body {
  font-size: 75%;
}
.screen-1280 body {
  font-size: 90%;
}
.screen-1440 body {
  font-size: 100%;

}
.screen-1680 body {
  font-size: 125%;
} 