

  .products-grid {
      padding: 0px 0px 10px 0px;
      margin: 20px 0 0 10px;
      tr {
        @include span-columns(12,12);
        overflow: hidden;
      }
    }


    .product-box {
      display: inline-block;
      width: 29%;
      overflow: hidden;
      margin: 0% 2% 5%;
      
    }

    .product-image-box {
      position: relative;
      height: 275px;
      width: 275px;
      display: inline-block;
      overflow: hidden;

      .product-img {
        height: 100%;
      }

      .product-hover-image {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow:hidden;

        img { width: 100%;}
      }

    }

    


    .photo_caption {
      position: absolute;
      top: 0px;
      left: 0;
      height: 25px;
      line-height: 25px;
      text-align: center;
      width: 100%;
      font-family: 'proxima-nova';
      font-weight: 500;
      color: whitesmoke;
      background-color: $nearblack;
      opacity: .7;

    }



    .product-details {
      font-family: 'proxima-nova';
      font-size: 13px;

      .product-brand {
        padding: 0px;
  /*      border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: gray;*/
        font-weight: 100;
        margin: 0px 0px 2px;

        span {
          padding: 0;
          margin: 0;
        }
      }

      .product-price {
        font-weight: 300;
      }

      .product-episode {
        display: none;
      }
    }


  .similar {
    background-color: whitesmoke;
    color: $nearblack;
    font-size: 15px;
    padding: 5px;
    position: absolute;
    top: 245px;
    right: 5px;
  }

  .exact-match {
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    img {width: 100%;}
  }
  .out-of-stock {
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 1000;
    img {width: 100%;}
  }