/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.quiz-carousel {
    position: relative;
    overflow: hidden;
    height: 400px;
    margin: 20px 0px;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.quiz-carousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.quiz-carousel li {
    /* Required only for block elements like <li>'s */
    float: left;
    width: 960px;
    height: 400px;
    position: relative;
}

li.question {
  float: left;
  width: 960px;
  height: 400px;
}

.quiz-carousel .cover {
    background-image: image-url("quizcover.jpg");
    background-size: cover;
}


.quiz-title {
  margin: 10px 0px 0px 15px;
  color: white;
  font-family: 'Biko Regular';
  font-size: 30px;

}

.done, .next-btn, .previous-btn {
  position: absolute;
  padding: 5px 15px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.done {
  bottom: 10px;
  right: 15px;
  border: 2px solid lightgray;
  color: lightgray;
}

.next-btn {
  color: white;
  border: 2px solid white;

}

.previous-btn {
  bottom: 10px;
  right: 120px;
}



.quiz-question {
  color: white;
  text-align: center;
  margin: 15px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
}


.choices {
  margin: 10px 0px;
  margin: 0 auto;
  text-align: center;

}

.take-the-quiz {
  position: absolute;
  border: 2px solid white;
  padding: 5px 10px;
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  color: white;
  text-align: center;
  bottom: 10px;
  right: 15px;
}

.choice {
  width: 160px;
  height: 285px;
  display: inline-block;
  margin-right: 12px;
  border: 4px solid white;
  overflow: hidden;

  img {
    width: 102%;
  }

  .choice-text {
    color: white;
    font-size: 14px;
  }
}

.last-choice {
  margin-right: 0px;
}

// if a choice is selected, its border becomes black 
.chosen {
  border: 4px solid black;
}

.not-chosen {
  opacity: 0.5;
}

.quiz {

  position: relative;
  .result {
    // display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    height: 400px;
    width: 960px;
    background-size: cover;

  }
}

#result-1 {
  background-image: image-url("Jess-Quiz-result.jpg");
}

#result-2 {
  background-image: image-url("claire-quiz-result.jpg");
}

#result-3 {
  background-image: image-url("gloria-quiz-result.jpg");
}

#result-4 {
  background-image: image-url("olivia-quiz-result.jpg");
}

#result-5 {
  background-image: image-url("rachel-quiz-result.jpg");
}



.result-header {
  font-family: 'Biko Regular';
  position: absolute;
  top: 20px;
  left: 20px;
  color: $nearblack;

  .your-style-soulmate-is {
    font-size: 30px;
    text-transform: uppercase;
  }

  .result-name {
    font-size: 55px;
    line-height: 65px;
  }

}


.shop-wardrobe {
  padding: 10px 20px;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: white;
  text-transform: uppercase;
  font-size: 25px;
  color: $nearblack;
}

.outfit-examples-wrapper {
  position: absolute;
  top: 35%;
  left: 20px;
  line-height: 40px;
  color: gray;
  text-align: center;

  .outfit-example {
    width: 150px;
    height: 200px;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    img {
      height: 100%;
    }
  }
}

.hidden-link {
  display: none;
}
