@import "active_admin/mixins";
@import "active_admin/base";
@import "select2";
@import "_mixins";
@import "_colors";
@import "_quiz";


// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   

.quiz-carousel {
  overflow: visible;
}

.choice-admin {

  display: inline-block;
  margin-right: 12px;

  .choice-img {
    width: 160px;
    height: 285px;
    border: 4px solid white;
    overflow: hidden;

    img {
      width: 102%;
    }
  }

  .choice-text {
    color: white;
    font-size: 14px;
  }
}

.status_tag { background: #6090DB; }

form fieldset > ol > li.check_boxes fieldset ol li label, form fieldset > ol > li.radio fieldset ol li label {
	width: 20%;
	float: left;
}

// http://stackoverflow.com/questions/16839784/getting-select2-to-work-with-active-admin
body.active_admin {

  .select2able{
    width: 50%;
  };

  .outfit_existing_product {
    margin-top: 20px;
    margin-left: 300px;
    display: block;
  }

  #welcome {
    width: 20%;
    float: left;
    margin-right: 20px;
    ul {
      font-size: 12px;
      font-weight: bold;
      padding-left: 0;
      line-height: 20px;
      list-style-type: none;
      li {
        font-size: 12px;
        font-weight: normal;
      }
    }
  }

  #useful-links {
    width: 40%;
    float: left;
  }

  .recent-updates {
    width: 850px;
    float: left;
    height: 600px;
    overflow: scroll;
  }


  .column-1 {
    float: left;
    margin-right: 20px;
    width: 450px;
  }

  .dashboard-quick {
    .comments, .flagged-products, .flagged-outfits, .user-activity {
      display: inline-block;
      width: 500px;
      .scrolling_table {
        td, th { padding: 5px 20px 5px 20px; }
        td:nth-child(1), th:nth-child(1) { min-width: 100px; max-width: 100px }
        td:nth-child(2), th:nth-child(2) { min-width: 100px; max-width: 100px }
        td:nth-child(3), th:nth-child(3) { width: 300px; }
      }
    }
  }  

  .column-2 {

  }

  .comments {
    .scrolling_table {
      td { padding: 0 }
      td:nth-child(1), th:nth-child(1) { min-width: 60px; max-width: 60px }
      td:nth-child(2), th:nth-child(2) { min-width: 70px; max-width: 70px }
      td:nth-child(3), th:nth-child(3) { width: 280px; }
    }
  }

  .scrolling_table {
    table-layout: fixed;
    width: 100%;

    td {
      word-wrap: break-word;
    }
    tr {
      display: block;
      display: relative;
    }
    tbody {
      height: 200px;
      overflow: auto;
    }

    thead, tbody {
      display: block;
    }
  }

  /*PINTEREST TEMPLATE*/
  .pin {
    width: 736px;
    height: 570px;
    display: block;
    position: relative;

    .outfit-photo {
      width: 368px;
      height: 490px;
      display: block;
      float: left;
      img {
        min-height: 100%;
        min-width: 100%;
      }
      overflow: hidden;

    }
    .product-photo {
      width: 368px;
      height: 490px;
      float: left;
      display:block;
      position: relative;
      overflow: hidden;
      #product-pic {
        height:100%;
        margin-left: -8%;
        // width: 100%;
        // margin-top: 59px;
      }
      #exact-match {
        height: 80px;
        position: absolute;
        top: 10px;
        right: 10px;
      }

    }

    .spylight-logo {
      height: 80px;
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #333333;
      display:block;
      img {
        position: absolute;
        top: 12px;
        left: 300px;
        width: 130px;
      }

    }

  }


}