.clear {
  clear: both;
}

/*center content*/

  .center-content {
    margin: 0px auto;
    float: none;
    position: relative;
    width: 960px;


    .episode-selector-menu {

      width: 100%;
      background-color: $nearblack;
      height: 55px;
      font-weight: 300;
      color: darkgray;
      text-transform: uppercase;

      .show-name {
        width: 35%;
        float: left;
        height: 100%;
        margin: 0;
        position: relative;

        div {
          @include absolute-center;
          width: 90%;
          height: 15px;
        }
      }

      .season-dropdown {
        width: 30%;
        float: left;
        height: 100%;
        position: relative;
        margin:0;
        z-index: 10000;
        cursor: pointer;

        a { color: lightgray;}

        .selected-season {
          @include absolute-center;
          width: 90%;
          height: 15px;
        }

        .more-seasons {
          background-color: $nearblack;
          width: 100%;
          opacity: 0.9;
          position: absolute;
          top: 55px;
          display: none;
          left: 0; 

          .season {
            height: 55px;
            text-align: center;

            div {
              padding-top: 20px;
            }
          }

          .season:hover {
            background-color: $yellow;
            cursor: pointer;
            color: $nearblack;
          }

        }

      }

      .episode-dropdown {
        float: left;
        width: 100% - 30% - 35.45%;
        height: 100%;
        position: relative;
        margin:0;
        cursor: pointer;

        .selected-episode {
          @include absolute-center;
          width: 90%;
          height: 15px;
        }
        .more-episodes {
          width: 100%;
          height: 350px;
          background-color: $nearblack;
          position: absolute;
          opacity: 0.9;
          top: 55px;
          z-index: 100000;
          left: 0;
          overflow: scroll;
          display: none;

          .episode {
            height: 80px;
            color: white;
          }

          .episode:hover {
            background-color: $yellow;
            color: $nearblack;
            a { color: $nearblack };
          }

          .episode-img-box {
            width: 40%;
            height: 80px;
            overflow: hidden;
            float: left;
            img {height: 100%; }
          }

          .episode-info {
            float: left;
            max-width: 150px;
            height: 60px;
            text-transform: none;
            font-weight: 500;
            margin: 10px 0 0 10px;
            font-size: 12px;
          }
        }
      }

    }

    .item-preview {
      width: 20%;
      height: 350px;
      font-weight: 500;
      color: white;
      font-size: 15px;
      display: inline-block;
      position: relative;
      background-color: $nearblack;
      .text {
        margin: 10px 10px;
        line-height: 20px;
      }

      .find-other-exact-matches {
        position: absolute;
        bottom: 10px;
        left: 10px;
        text-align: center;
        font-size: 12px;
        color: lightgray;
      }
    }

    .about-episode {
      width: 80%;
      height: 350px;
      background-color: whitesmoke;
      position: relative;
      color: white;
      float: left;

      .semitransparent-bg-2 {
        width: 100%;
        background: linear-gradient(to bottom, rgba(22, 21, 18, 1),  rgba(0, 0, 0, 0));
        top: 0px;
        left:0;
        position: absolute;
        height: 60px;
        display: block;
        z-index: 100;
      }

      .episode-picture {
        overflow: hidden;
        width: 100%;
        height: 100%;
        float: left;
        position: absolute;
        top: 0;
        left: 0;
        background-position: top left;
        background-size: cover;
        background-repeat: no-repeat;

        #episodestill {
          height: 100%;
          margin-top: 0;
        }

        .overlay {
          background-color: $nearblack;
          position: absolute;
          height: 100%;
          width: 100%;
          z-index: 200;
          opacity: .1;
        }

      }

      .episode-name {
        font-size: 22px;
        top: 0px;
        left: 20px;
        z-index: 3000;
        line-height: 25px;
        position: absolute;
        font-weight: 500;
        font-family: 'proxima-nova';
      }

      .episode-airdate {
        font-size: 15px;
        width: 75%;
        z-index: 3000;
        position: absolute;
        top: 25px;
        left: 20px;
        color: white;
        font-family: 'proxima-nova';
      }

      .show-all-items-button {
        background-color: $nearblack;
        position: absolute;
        bottom: 0px;
        text-shadow: none;
        display: block;
        right: 0px;
        font-family: 'proxima-nova';
        font-weight: 500;
        z-index: 5000;
        
        div {
          text-align: center;
          padding: 10px;
        }

      }

    }

    
  }

  .product-wrap {
    margin: -70px auto;
    float: none;
    position: relative;
    height: auto;
    width: 75%;
  }

  #see-all-in-episode {
    text-align: center;
    color: white;
  }





