// Place all the styles related to the errors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the WaitingListUsers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



  .waiting_list {
    width: 300px;
    margin: 0 auto 50px;
    background-color: white;
    overflow-y: hidden;
    overflow-x: visible;
    min-width: 275px;

    input.placeholder {
      height: 10%;
      width: 75%;
      background-color: white;
      font-family: 'proxima-nova';
      font-size: 15px;
      border: none;
      padding: 5%;
      display: inline;


      &:focus {
        outline: none; }
    }

    button {
      display: inline-block;
      background-color: darkgray;
      height: 100%;
      border: none;

      i {
        color: white;
        height: 100%;
      }
    }
  }

  .error-center-box {
    min-width: 500px;
    min-height: 400px;
    height: 40%;
    width: 40%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

  }

  .notice {
    color: white;
    font-family: 'proxima-nova';
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
  }



  .error-logo {
    width: 100%;
    height: 20%;
    margin-top: 10%;
    position: relative;

    #error-page-logo {
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      max-height: 65px;
    }
  }

  .spylight-error-tagline {
    font-family: 'proxima-nova';
    font-size: 25px;
    font-weight: normal;
    margin: 50px 0px 20px;
    text-align: center;
    max-width: 100%;
    color: gray;
    a {
      color: darkgray;
      text-decoration: underline;
    }
  }


