.about-movie {

  height: 375px;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-family: 'proxima-nova';
  margin: 0;

  .movie-photo {
    width: 100%;
  }

  .overlay {
    @include overlay;
    background-color: black;
    opacity: 0.2;
    z-index: 4500;
  }

  .banner-overlay {
    background-color: white;
    opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    z-index: 5000;
  }

}


.movie-text {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 5000;
  text-shadow: 1px 1px $nearblack;
}
  
.name {
  font-size: 30px;
  width: 100%;


  #movie {
    font-weight: bold;
    display: inline-block;
    font-family: 'Biko Regular';
    color: white;
    font-size: 50px;
  }

}

.movie-description {
  font-weight: 600;
  font-size: 20px;
  margin: 0px auto;
  text-align: center;
  display: block;
  width: 60%;
  color: white; 
  text-shadow: 1px 1px $nearblack;
}

.list {
  width: 960px;
}

#movie-filter-content {
  background-color: whitesmoke;
}

.filter-content {
  width: 100%;
  border-top: 1px solid lightgray;
  position: relative;
  padding-top: 20px;
  text-align: center;
  margin-top: 30px;

  .choose-a-character {
    background-color: whitesmoke;
    font-family: 'proxima-nova';
    color: #4d4d4d;
    position: absolute;
    display: inline-block;
    left: 40%;
    top: -8px;
    padding: 0 15px 0 15px;
    text-transform: uppercase;
    font-size: 15px;
  }

  .wrapper {
    margin-top: 0px;
  }

  .character-thumbbox {
    width: 109px;
    margin: 0px 5px 10px 0px;
    height: 130px;
    background-color: $nearblack;
    display: inline-block;
    text-align: center;

    .character-thumbbox-img {
      width: 100px;
      margin: 5px auto;
      height: 100px;
      overflow: hidden;
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
      -webkit-filter: grayscale(0%);

      img {
        width: 100%;
        overflow: hidden;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
        filter: gray; /* IE6-9 */
        -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
        -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
        -webkit-backface-visibility: hidden; /* Fix for transition flickering */
      }

      img:hover {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(0%);
      }

      // TODO: http://jsfiddle.net/KDtAX/487/
    }

    .character-thumbbox-name {
      font-family: 'proxima-nova';
      font-weight: 500;
      color: white;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      font-size: 12px;
      text-overflow: ellipsis;
    }

  }

  .selected {
    .character-thumbbox-img img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);    
    }
  }

  .outfit-image-box {
    // height: 350px;
    width: 250px;
    border: 10px solid white;
    -webkit-box-shadow: 0 1px 7px #cccccc;
    -moz-box-shadow: 0 1px 7px #cccccc;
    box-shadow: 0 1px 7px #cccccc;
    display: inline-block;
    margin: 15px 25px 15px 25px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  #outfits-list {
    margin: 10px auto;
    clear: both;
    width: 105%;

    .outfit-details {
      display: none;
      background-color: white;
      opacity: 0.8;
    }


  }

  .movie-options-wrap {
    margin: 20px auto 0;
    // width: 32%;
    text-align: center;
  }

  .show-outfits-or-products {
    text-align: center;
    display: inline-block;
    clear: both;
    background-color: $nearblack;
    color: white;
    cursor: pointer;
    margin: 10px 10px;
    padding: 15px 20px;
  } 

  .show-outfits-or-products.nonactive {
    background-color: white;
    color: lightgray;
    border: none;

    &:hover {
      color: $nearblack;
    }
  }





  .character {
    display: none;
  }

  .type {
    display: none
  }

}

