/* You can alter this CSS in order to give Smooth Div Scroll your own look'n'feel */

div.scrollingHotSpotLeft,
div.scrollingHotSpotLeftVisible,
div.scrollingHotSpotRight,
div.scrollingHotSpotRightVisible {
	display: none;
}

/* Invisible left hotspot */
#accordion .slide_opened div.scrollingHotSpotLeft
{
	/* The hotspots have a minimum width of 100 pixels and if there is room the will grow
    and occupy 15% of the scrollable area (30% combined). Adjust it to your own taste. */
	min-width: 75px;
	width: 10%;
	height: 100%;
	display:block;
	/* There is a big background image and it's used to solve some problems I experienced
    in Internet Explorer 6. */
	/*background: image-url("big_transparent.gif");*/
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 600;
	left: 0;
	/*  The first url is for Firefox and other browsers, the second is for Internet Explorer */
	cursor: w-resize;
}

/* Visible left hotspot */
#accordion .slide_opened div.scrollingHotSpotLeftVisible
{
	display: block;
/*	background-image: image-url("arrow_left.gif");				
*/	/*background-color: #fff;*/
	background-repeat: no-repeat;
	opacity: 0.35; /* Standard CSS3 opacity setting */
	-moz-opacity: 0.35; /* Opacity for really old versions of Mozilla Firefox (0.9 or older) */
	filter: alpha(opacity = 35); /* Opacity for Internet Explorer. */
	zoom: 1; /* Trigger "hasLayout" in Internet Explorer 6 or older versions */
}

/* Invisible right hotspot */
#accordion .slide_opened div.scrollingHotSpotRight
{
	display: block;
	min-width: 75px;
	width: 10%;
	height: 100%;
/*	background-image: image-url("big_transparent.gif");
*/	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 600;
	right: 0;
	cursor: e-resize;
}

/* Visible right hotspot */
#accordion .slide_opened div.scrollingHotSpotRightVisible
{
	display: block;
	/*background-image: image-url("arrow_right.gif");*/
/*	background-color: #fff;
*/	background-repeat: no-repeat;
	opacity: 0.2;
	filter: alpha(opacity = 20);
	-moz-opacity: 0.2;
	zoom: 1;
}

/* The scroll wrapper is always the same width and height as the containing element (div).
   Overflow is hidden because you don't want to show all of the scrollable area.
*/
#accordion .slide_opened div.scrollWrapper
{
	display: block;

	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#accordion .slide_opened div.scrollableArea
{
	display: block;
	position: relative;
	width: auto;
	height: 100%;
}

#accordion .slide_opened #makeMeScrollable div.scrollableArea li .accordion-bubble img 
{
	/* If you don't want the images in the scroller to be selectable, try the following
	   block of code. It's just a nice feature that prevent the images from
	   accidentally becoming selected/inverted when the user interacts with the scroller. */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}