- cache(product) do
  %li.product-box.noskimwords
    .product-image-box
      - unless product.any_stock
        .out-of-stock
          =image_tag("outofstock.png")
      = link_to show_product_path(:format => :js, :show_id => 16, :id => product.id), :remote => true do

        = image_tag(product.product_images.first.avatar.url(:square), :class => "product-img")
      / = link_to show_product_path(:format => :js, :id => product.id), :remote => true do
      / TODO: Make this product-hover-image into a partial
      .product-hover-image
        - if product.outfits.select{|x| x.movie == movie}.any?
          = image_tag(product.outfits.select{|x| x.movie == movie}.last.outfit_images.first.avatar.url(:search_square))

        / TODO: we need to reconsider what is below:
        - if product.outfit_products.first.exact_match?
          .exact-match
            = image_tag("exactmatch.png")
          .similar SIMILAR
    .product-details
      .product-name= product.name.titleize
      %span.product-brand= product.brand.name
      .type{style: "display:none"} product
      %span.product-source
        - if (product.product_sources.first.store.name != product.brand.name)
          = "from " + product.product_sources.first.store.name
        %br
      .product-price= product.price
      
      / below is the hidden divs for the sorting & filtering:
      - if product.outfits.any?
        .product-episode
      - if product.characters.any?
        .product-character= product.characters.last ? product.characters.last.name : "No Characters found"
        .character{style: "display:none"}= product.characters.last.name
      .filter_attributes{style: "display:none"}= product.filter_attributes